:root {
    --bg:  #eee8e4;
    --dark: #604d40;
    --headingDark: #39291c;
    --headingLight: #beac9f;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
}

/* Styling navigation bar*/
.navbar {
    position: sticky;
    width: 100%;
    background-color: var(--dark) !important;
}

.navbar-brand {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 40px;
    color: var(--headingLight) !important;
    text-shadow: var(--headingDark) 1px 1px;
}

ul.navbar-nav {
    flex-direction: row;
}

a.nav-link {
    font-family: 'Syncopate', sans-serif !important;
    font-size: 14px;
    color:var(--headingLight) !important;
    padding: 20px 20px !important;
}

/* Styling navbar links on hover*/

.nav-link:hover {
    text-shadow: var(--headingDark) 8px 8px;
}

/*Styling hero section/jumbotron*/

.jumbotron {
    background-image: url(../images/sepia-waves-jumbo.jpeg) ;
    background-size: cover;
}

h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 80px;
    color: var(--bg);
    text-shadow: var(--headingDark) 2px 2px;
}

p.lead {
   color: var(--bg) !important;
   text-shadow: var(--dark) 1px 1px;
   font-size: 26px;
}

p.subJumbo {
    color: var(--bg) !important;
    text-shadow: var(--dark) 1px 1px;
}